html {   
    background-image: url(../images/Portfolio_BG_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
body {
    display: block;
    margin: 0px;
}
.profilePic {
    border-radius: 50%;
    width: 15%;
    height: 15%;
    margin-left: 15%;
    box-shadow: #00000088 1px 4px;
}
button {
    border-radius: 4px;
    background-color: #9D0000;
    color: white;
    font-size: 18px;
    font-family: 'Assistant', sans-serif;
    width: 6%;
    height:6%;
    text-align: left;
    margin-left: 10%;
    box-shadow: black 1px 3px;
    grid-area: hover;
    transition: .1s ease-in;
}
button:hover{
    transition: 0.3s ease-out; 
    width: 10%;
    text-align: left;
    box-shadow: black 1px 3px;
    
}
.inline-block { 
    display: inline-block;
    vertical-align: top;
    font-family: 'Bentham', serif;
}
.logo {
    width: 10%;
    padding: 0%;
    text-align: left;
    margin-left: 1%;
}
nav {
    display:block;
    display: flex;
    align-items:flex;
    padding: 0%;
    color: white;
    width: 100%;
}    
.navigation {
    background-color: black;
    opacity: .75;
    position: relative;
    padding: 0px;
}
nav > ul {
    width: 20%;
    padding: 2%;
    margin-left: 85%;
    margin:auto;
    font-size: 26px;
}
.heroImg {
    position: relative;
    padding: 3%;
    margin-top: 5%;
}

.content {
    margin: 4%;
}
footer {
    display: flex;
    align-items:flex;
    background-color: #373738;
    color: white;
    padding-top: 0%;
    margin-top: 5.5%;
}
footer > ul {
    width: 100%;
    padding: 0%;
    margin-left: 45%;
    font-size: 18px;
}
h2 {
    display: flex;
    position:absolute;
    top: 15%;
    right:0;
    margin-right: 17%;
    padding: 2%;
    text-align: center;
    font-size: 32px;
    color: white;
}
p {
    color: white;
    font-family: 'Abhaya Libre', serif;
    left: 20%;
    text-align: left;
    padding-right: 15px;
    margin-left: 59%;
    margin-top:-6%;
    font-size: 26px;
}